<p id="notice"><%= notice %></p>

<h1>Calculations</h1>

<table>
  <tr>
    <th>Flex</th>
    <th>List</th>
    <th>User ID</th>
  </tr>
 
  <% @calculations.each do |calculation| %>
    <tr>
      <td><%= calculation.amount %></td>
      <td><%= calculation.list %></td>
      <td><%= calculation.user_id %></td>
      <td><%= link_to 'Show', calculation_path(calculation) %></td>
      <td><%= link_to 'Destroy', calculation_path(calculation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>
 
<%= link_to 'New calculation', new_calculation_path %>