<h1>New calculation</h1>

<%= form_with model: @calculation, local: true do |form| %>
 
  <p>
    <%= form.label "Amount of flex left:" %><br>
    <%= form.number_field :amount , :step => 0.01%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>

<%= link_to 'All products', controller: 'products' %> |
<%= link_to 'All calculations', controller: 'calculations' %>