<h1>New configuration</h1>

<%= form_with url: new_configuration_path, local: true do |form| %>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Like this product?</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= form.check_box :liked %></td>
      </tr>
    <% end %>
  </table>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>