<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Like this product?</th>
    </tr>

    <%= form.collection_check_boxes(:allowed_products, Product.all, :id, :name) do |b| %>
      <tr>
        <td><%= b.object.name %></td>
        <td><%= b.object.price %></td>
        <td><%= b.check_box %></td>
      </tr>
    <% end %>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
